streamlit>=1.32.2
langchain>=0.1.12
langchain-openai>=0.0.8
langchain-community>=0.0.28
faiss-cpu>=1.7.4
python-dotenv>=1.0.1
cohere>=4.53
sentence-transformers>=2.5.1
torch>=2.2.1
numpy>=1.26.4
pandas>=2.2.1
rich>=14.1.0
pygments>=2.19.2
markdown-it-py>=3.0.0
mdurl>=0.1.2
protobuf>=4.25.2
typing-extensions>=4.9.0
pydantic>=2.6.3 
